<configuration>
    <contextName>${BUILD_NUMBER:-1}</contextName>

    <if condition='isDefined("IS_PROD")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%d{HH:mm:ss.SSS} [%cn] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%cyan(%d{HH:mm:ss.SSS}) [%cn] %highlight(%-5level) %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <root level="WARN">
        <appender-ref ref="ASYNC"/>
    </root>

    <logger level="INFO" name="io.goodforgod.micronaut.template"/>
    <logger level="DEBUG" name="io.goodforgod.micronaut.template.Application"/>

    <logger level="INFO" name="io.micronaut.runtime.Micronaut"/>
</configuration>
